#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "/home/kush/.config/mpd/socket",  // change this 
    volume_step: 5,
    scrolloff: 2,
    max_fps: 60,
    wrap_navigation: true,
    theme: "romeo",                             // change this 
    cache_dir: Some("/tmp/rmpc/cache"),
    on_song_change: ["/home/kush/.config/rmpc/scripts/notify.sh"],    // change this
    status_update_interval_ms: 1000,
    enable_mouse: true,
    enable_config_hot_reload: true,
    album_art: (
      default_album_art_path: Some("/home/kush/.config/rmpc/themes/default.png"), // not working ig due to alacritty and too lazy for kitty
      method: Auto,
      vertical_align: Top,
      horizontal_align: Center,
   ),
cava: (
    framerate: 60, // default 60
    autosens: true, // default true
    sensitivity: 120, 
    lower_cutoff_freq: 50, // not passed to cava if not provided
    higher_cutoff_freq: 10000, // not passed to cava if not provided
    input: (
        method: Fifo,
        source: "/home/kush/.config/mpd/mpd.fifo",       // change this 
        sample_rate: 44100,
        channels: 2,
        sample_bits: 16,
    ),
    smoothing: (
        noise_reduction: 77, // default 77
        monstercat: false, // default false
        waves: true,
    ),
    // this is a list of floating point numbers thats directly passed to cava
    // they are passed in order that they are defined
    eq: []
),
    keybinds: (
        global: {
            "q":       Quit,
            "?":       ShowHelp,
            "O":       ShowOutputs,
            "I":       ShowCurrentSongInfo,
            "<C-p>":   ShowDecoders,
            ":":       CommandMode,
            "+":       VolumeUp,
            "-":       VolumeDown,
            " ":       TogglePause,
            "s":       Stop,
            "n":       NextTrack,
            "p":       PreviousTrack,
            "<Right>": NextTab,
            "<Tab>":   NextTab,
            "<Left>":  PreviousTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Album Artists"),
            "5":       SwitchToTab("Albums"),
            "6":       SwitchToTab("Playlists"),
            "7":       SwitchToTab("Search"),
            "z":       ToggleRepeat,
            "r":       ToggleRandom,
            "c":       ToggleSingle,
            "f":       SeekForward,
            "b":       SeekBack,
            "Y":       ExternalCommand(command: ["~/.config/rmpc/scripts/yt_search.sh"], description: "Search selected song on youtube"),
            "P":       ExternalCommand(command: 
                       ["sh", "-c", "picard -s \"${XDG_MUSIC_DIR:-$HOME/Music}/$(echo $SELECTED_SONGS | head -n 1)\" 2>&1 >/dev/null"], description: "Open in picard"),
        },
        navigation: {
            "<S-Up>":      PaneUp,
            "<S-Down>":    PaneDown,
            "<S-Left>":    PaneLeft,
            "<S-Right>":   PaneRight,
            "<C-u>":       UpHalf,
            "N":           PreviousResult,
            "a":           Add,
            "A":           AddAll,
            "r":           Rename,
            "<S-n>":           NextResult,
            "g":           Top,
            "v":           Select,
            "G":           Bottom,
            "h":           Left,
            "<CR>":        Confirm,
            "i":           FocusInput,
            "J":           MoveDown,
            "j":           Down,
            "<C-d>":       DownHalf,
            "/":           EnterSearch,
            "<C-c>":       Close,
            "<Esc>":       Close,
            "K":           MoveUp,
            "l":           Right,
            "D":           Delete,
            "k":           Up,
            "B":           ShowInfo,
        },
        queue: {
            "D":           DeleteAll,
            "<CR>":        Play,
            "<C-s>":       Save,
            "a":           AddToPlaylist,
            "X":       Shuffle,
            "d":           Delete,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
        ],
    ),
    tabs: [
        (
            name: "Queue",
            border_type: None,
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "30%",
                        borders: "RIGHT",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "50%",
                                    pane: Pane(AlbumArt),
                                ),
                            ],
                        ),
                    ),
                    (
                        size: "100%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(Queue),
                                ),
                                (
                                    borders: "TOP",
                                    size: "20",
                                    pane: Pane(Cava)
                                ),
                            ],
                        ),
                    )
                ],
            ),
        ),
        (
            name: "Directories",
            border_type: None,
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            border_type: None,
            pane: Pane(Artists),
        ),
        (
            name: "Album Artists",
            border_type: None,
            pane: Pane(AlbumArtists),
        ),
        (
            name: "Albums",
            border_type: None,
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
            border_type: None,
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
    ],
)


